<!-- PAPER -->

{%if post.paper %}
  <a href="{{ post.paper }}" class="paper"><i class="icon-file"></i> Paper</a>
{%endif%}

<!-- VIDEO-->
{%if post.youtube %}
  <a href="{{ post.youtube }}" class="video"><i class="icon-facetime-video"></i> Video</a>
{%endif%}
{%if post.vimeo %}
  <a href="{{ post.vimeo }}"class="video"><i class="icon-facetime-video"></i> Video</a>
{%endif%}

<!-- SLIDE -->
{%if post.slideshare %}
  <a href="{{ post.slideshare }}" class="slide"><i class="icon-slide"></i> Slide</a>
{%endif%}

{%if post.scribd %}
  <a href="{{ post.scribd }}" class="slide"><i class="icon-slide"></i> Slide</a>
{%endif%}

{%if post.slide %}
  <a href="{{ post.slide }}" class="slide"><i class="icon-slide"></i> Slide</a>
{%endif%}

<!-- POSTER -->

{%if post.poster %}
  <a href="{{ post.poster }}" class="poster"><i class="icon-picture"></i> Poster</a>
{%endif%}

<!--link, prototype, website-->
{%if post.link %}
  <a href="{{ post.link }}" class="link"><i class="icon-share"></i> Link</a>
{%endif%}
{%if post.prototype %}
  <a href="{{ post.prototype }}" class="prototype"><i class="icon-share"></i> Prototype</a>
{%endif%}
{%if post.website %}
  <a href="{{ post.website }}" class="website"><i class="icon-share"></i> Web</a>
{%endif%}
&nbsp;