---
layout: default
---
{% include JB/setup %}

<div class="page-header">
  <h1>
    {{ page.title }}
    <small>{{page.tagline}}</small>
  </h1>
</div>

<div class="row">
  <div class="span8">
    <img src="{{page.figure}}" class='figure'>

  </div>

  <div class="span4">

    {{ content }}
    {% assign post = page %}
    {% include themes/kanitw/links.html %}
  </div>
</div>

<hr>
<div class="row-fluid">
  <div class="span8">
    {% unless page.tags == empty %}
    <ul class="tag_box post-tag-list">
      <li> Tags: </li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
    {% endunless %}
  </div>
  <div class="span4">
    <div class="pagination">
      <ul class="pull-right">
        <li class="prev">
          <a href="{{HOME_PATH}}" title="Project Page">&larr; Return to Project Page</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<hr>{% include JB/comments %}
