---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

h1, h2, h3, h4, h5, h6 {
  font-family: "Kanit";
  font-weight: 500;
}

h2 {
  margin-top: 16px;
}

.publication {
  .title {
    font-weight: 500;
  }
}

strong {
  font-weight: 500;
}

.featured {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 28px;

  font-size: 0.9em;

  p {
    margin-bottom: 8px;
  }

  .thumb {
    width: 100%;
    height: 125px;
    border: 1px #f1f1f1 solid;
    background-size: cover;
    background-position: top left;
    transition: all 2s;
    &:hover {
      background-position: bottom right;
    }
    &.contain {
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      &:hover {
        background-position: center;
      }
    }
    margin-bottom: 4px;
  }

  .title {
    font-size: 1.3em;
    font-family: "Kanit";
    font-weight: bold;
  }
}

.links {
  .link-label {
    display: inline-block;
    min-width: 50%;
    font-size: 0.9em;
  }

  .link {
    // font-size: 0.9em;
    margin-right: 4px;

    .fa {
      margin-right: 2px;
    }
    .label {
      display: none;
      transition: width 1s;
      width: 0;
      overflow: hidden;
    }
  }
  &:hover .label {
    width: auto;
  }
}
.home-header {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}

.awards {
  .fa-star {
    color: #f7d100;
  }
}

.pic-section {
  justify-self: start;
  align-self: center;

  .pic {
    width: 120px;
    height: 120px;
    border-radius: 75px;
    z-index: 1;
    background-image: url(profile/kanitw.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.contact-info {
  margin-top: 4px;
  font-size: 0.81em;
  & > span {
    margin-right: 8px;
    i.fa {
      margin-right: 2px;
    }
  }
}

.right {
  float:right;
}
