<div class="page-header index-header">
  <div class="container">
    <!-- <h1>{{page.title}}</h1> -->
    <div class="kanitw-pic img-polaroid">
      <div class="pic"></div>
    </div>

    <div class="hello-name">
      <h1>Kanit (<a href="/bio.html#why-ham">Ham</a>) Wongsuphasawat. </h1>
      <!-- <i class="or">or formally,</i> -->
      <!-- <div class="name">Kanit Wongsuphasawat. <i class="icon-info-sign icon-white"></i></div> -->
      <small class="pronounced">[pronounced Guh-nit (Ham) Wohng-soo-puh-suh-wuhd]</small>

      <a href="javascript: void(0);" onclick="playSound('/assets/profile/kanitw.mov');" class="bordered-link dark"><i class="icon-volume-up"></i></a>
      <!-- <div class="explore">I explore Human-computer Interaction.</div> -->
      <div id="dummy" style="height:0px"></div>
      <script language="javascript" type="text/javascript">
       function playSound(soundfile) {
        document.getElementById("dummy").innerHTML=
         "<embed src=\""+soundfile+"\" hidden=\"true\" autostart=\"true\" loop=\"false\" />";
       }
       </script>
    </div>
  </div>
</div>


<div class="container">
  <div class"content">

    <div class="row">
      <div class="span8">
        {{ content }}
      </div>
      <div class="span4">
        <div id="right-info-box">
          <div>
            Email: kanitw [at] gmail.com
          </div>
          <div>
            Twitter:
            <a href="http://twitter.com/kanitw"> @kanitw</a>
          </div>
        </div>
      </div>
    </div>