<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home-header">
          <div class="pic-section">
            <div class="pic"></div>
          </div>
          <section>
            <h1>
              Hi, I'm Kanit "Ham" Wongsuphasawat.
              <div class="subtitle">
                สวัสดีครับ ผมชื่อ กนิษฐ์ วงศ์ศุภสวัสดิ์ (แฮม)
              </div>
            </h1>
            <div class="intro">
            {{ content }}
            </div>
            <div class="contact-info">
              <span>
                <a href="mailto:kanitw@gmail.com">
                  <i class="fa fa-envelope-o"></i>kanitw&#64;gmail&#46;com
                </a>
              </span>
              <span>
                <a href="http://twitter.com/kanitw">
                  <i class="fa fa-twitter"></i>kanitw
                </a>
              </span>
              <span>
                <a href="http://github.com/kanitw">
                  <i class="fa fa-github"></i>kanitw
                </a>
              </span>
              <!-- Right -->
              <span class="right">
                <a href="assets/profile/cv_kanitw.pdf">
                  <i class="fa fa-file-pdf-o"></i>CV
                </a>
              </span>
              <span class="right">
                <a href="assets/profile/resume_kanitw.pdf">
                  <i class="fa fa-file-pdf-o"></i>Resume
                </a>
              </span>
              <span class="right">
                <a href="assets/profile/research-statement.pdf">
                  <i class="fa fa-file-pdf-o"></i>Research Statement
                </a>
              </span>
            </div>
          </section>
        </div>

        <section>
          <h2>Featured Projects</h2>
          <!-- My research explores <strong>the design of interactive visualization systems for data science</strong>. -->
          <div class="grid featured">
            {% for project in site.data.features %}
              {% include featured-project.html project=project %}
            {% endfor %}
          </div>
        </section>

        <div class="grid">
          <section id="experience-section" class="tabbed-section small">
            <h2>Professional Experience</h2>
            {% include experience.html %}
          </section>
          <section>
            <h2>News</h2>
            {% for news in site.data.news %}
            <div class="news">
              {{news.text | markdownify | remove: '<p>' | remove: '</p>' }}
              <span class="date">
                {{news.date}}
              </span>
            </div>
            {% endfor %}
          </section>
        </div>

        <section>
          <h2>Other Software Projects</h2>
          {% include other-projects.html category="software" %}
        </section>

        <section>
          <h2>Other Design Projects</h2>
          {% include other-projects.html category="design" %}
        </section>

        <!-- <section>
          <h2>Publications</h2>
          {% for pub in site.data.publications %}
          {% include publication.html pub=pub %}
          {% endfor %}
        </section> -->
      </div>
    </main>
  </body>
</html>
