<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row">
  <div class="span8 big">
    {{ content }}



  </div>
  <div class="span4">

  </div>
</div>
{% for section in page.sections %}
  <h3>{{section.last}}</h3>
  <div class="row-fluid posts">
    {% for post in site.posts %}
      {% if section.first == post.home_section %}

        <div class="post-list span4">
          <a href="{{ BASE_PATH }}{{ post.url }}">
            <div class="home-thumbs {{post.thumb_align}}">
              <div class="img" style="background-image:url({% if post.thumb != null %}{{post.thumb}}{% else %}http://placehold.it/350x200 {% endif %})">
              </div>
            </div>
          </a>
          <h4>
            <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
          </h4>
          <div>{{post.description}}</div>


        </div>
        {% cycle section.first: '', '', '</div><div class="row-fluid posts">' %}

        {% assign i = (forloop.index0 | modulo:3 ) %}

          {% if i == 2 %}

      <!-- </div>
      <div class="row-fluid posts"> -->
          {% endif %}
      {% endif %}
    {% endfor %}

  <!--<script type="text/javascript">
    $('.posts').equalHeights();
  </script>-->
  </div>
{% endfor %}